<nav class="bg-[#111827] border border-[#111827] px-2 sm:px-4 py-2.5 shadow">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <span
      class="flex items-center self-center text-xl font-semibold whitespace-nowrap dark:text-white"
    >
      Edulabs
    </span>

    <div>
      <button
        (click)="logout()"
        class="block py-2 pr-4 pl-3 text-white border-b border-gray-100 hover:bg-gray-20 md:hover:bg-transparent md:border-0 md:hover:text-gray-400 md:p-0"
      >
        Cerrar sesión
      </button>
    </div>
  </div>
</nav>
